<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
     
    @Html.X().ResourceManager()
    
    @(
        Html.X().Window()
            .ID("test")
            .Title("test")
            .Html("Hello World from DWX")
            .Height(300)
            .Width(300)
    )

    @RenderBody()

</body>
</html>
