@model HelloWorld.Models.Todo             

@{        
    /* Reflection */
    
    var reader = Html.X().JsonReader()
        .Root("Data")
        .TotalProperty("Total");

    var proxy = Html.X().AjaxProxy()
        .Url("/api/todo")
        .Reader(reader);

    var store = Html.X().StoreForModel()
        .Proxy(proxy)
        .AutoLoad(true)
        .RemotePaging(false)
        .RemoteSort(false)
        .PageSize(15);
}


@{
    ViewBag.Title = "Simple Array Grid - Ext.NET MVC Examples";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section headtag
    {
    <style>
        .x-grid-row-over .x-grid-cell-inner {
            font-weight: bold;
        }
    </style>

    <script>
            var template = '<span style="color:{0};">{1}</span>';

            var doneRenderer = function (value) {
                return Ext.String.format(template, value ? "green" : "red", value);
            };
    </script>
}


@(Html.X().Window()
      .ID("test")
      .Title("test")
      .Height(300)
      .Width(600)
      .Layout(LayoutType.Fit)
      .Items(
      
          Html.X().GridPanel()
              .Title("Array Grid")
              .Store(store)
              .ColumnModel(
                  Html.X().Column().Text("Id").DataIndex("Id").Flex(1),
                  Html.X().Column().Text("Title").DataIndex("Title"),
                  Html.X().Column().Text("Description").DataIndex("Description"),
                  Html.X().DateColumn().Text("DueDate").DataIndex("DueDate"),
                  Html.X().Column().Text("Done").DataIndex("Done").Renderer("doneRenderer")
              )
      ))
