@using HelloWorld.Controllers
@model HelloWorld.Models.Todo             

@{        
    /* Reflection */
    
    var reader = Html.X().JsonReader()
        .Root("Data")
        .TotalProperty("Total");

    var proxy = Html.X().AjaxProxy()
        .Url(TodoController.Url)
        .Reader(reader);

    var store = Html.X().StoreForModel()
        .Proxy(proxy)
        .AutoLoad(true)
        .RemotePaging(false)
        .RemoteSort(false)
        .PageSize(15);

    var grid = Html.X().GridPanel()
          .Title("Array Grid")
          .Store(store)
          .Region(Region.Center)
        
          .ColumnModel(
                Html.X().ColumnFor(m => m.Id).ToBuilder<Column.Builder>().Width(30),
                Html.X().ColumnFor(m => m.Title).ToBuilder<Column.Builder>().Text("Titel"),
                Html.X().ColumnFor(m => m.Description).ToBuilder<Column.Builder>().Text("Beschreibung"),
           Html.X().Column().Text("Done").DataIndex("Done").Renderer("doneRenderer")
          );

    var panel = Html.X().Panel()
         .Title("Details")
         .Region(Region.East)
           .Width(300)
         .Collapsible(true)
         .Layout(LayoutType.VBox)
         .Items(
            Html.X().TextFieldFor(m => m.Title).FieldLabel("Titel"),
            Html.X().DateFieldFor(m => m.DueDate).FieldLabel("Termin"),
            Html.X().CheckboxFor(m => m.Done).FieldLabel("Erledigt"),
            Html.X().TextAreaFor(m => m.Description).FieldLabel("Details")
            
         ); 
        
}


@{
    ViewBag.Title = "Simple Array Grid - Ext.NET MVC Examples";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section headtag
    {
    <style>
        .x-grid-row-over .x-grid-cell-inner {
            font-weight: bold;
        }
    </style>

    <script>
        var template = '<span style="color:{0};">{1}</span>';

        var doneRenderer = function (value) {
            return Ext.String.format(template, value ? "green" : "red", value);
        };
    </script>
}
      

@(
   

Html.X().Window()
      .ID("test")
      .Title("test")
      .Height(300)
      .Width(600)
      .Layout(LayoutType.Fit)
      .Items(
        Html.X().Panel()
        .Layout(LayoutType.Border)
        .Items(grid, panel))
  )
